.idea/*
MANIFEST.in.txt
_gitignore
_gitmodules
build/
dist/



docsrc/__init__.pyc
docsrc/makedoc.pyc
docsrc/makeman.pyc
docsrc/makeusage.pyc
docsrc/prepare.pyc
fontsrc/freedos/_gitignore
fontsrc/unifont/_gitignore
fontsrc/univga/_gitignore
pcbasic.egg-info/
pcbasic/SerialBrewer.pyc
pcbasic/SerialBrewerWin32.pyc
pcbasic/__init__.pyc
pcbasic/__main__.pyc
pcbasic/ansi.pyc
pcbasic/ansipipe.pyc
pcbasic/audio.pyc
pcbasic/audio_beep.pyc
pcbasic/audio_none.pyc
pcbasic/audio_pygame.pyc
pcbasic/audio_sdl2.pyc
pcbasic/backend.pyc
pcbasic/basictoken.pyc
pcbasic/bytestream.pyc
pcbasic/cassette.pyc
pcbasic/clipboard.pyc
pcbasic/config.pyc
pcbasic/console.pyc
pcbasic/debug.pyc
pcbasic/devices.pyc
pcbasic/disk.pyc
pcbasic/display.pyc
pcbasic/draw_and_play.pyc
pcbasic/eascii.pyc
pcbasic/error.pyc
pcbasic/expressions.pyc
pcbasic/flow.pyc
pcbasic/fp.pyc
pcbasic/graphics.pyc
pcbasic/gwbasic2python.pyc
pcbasic/inputs.pyc
pcbasic/machine.pyc
pcbasic/memory.pyc
pcbasic/modes.pyc
pcbasic/plat.pyc
pcbasic/ports.pyc
pcbasic/print_and_input.pyc
pcbasic/printer.pyc
pcbasic/program.pyc
pcbasic/protect.pyc
pcbasic/redirect.pyc
pcbasic/representation.pyc
pcbasic/reset.pyc
pcbasic/rnd.pyc
pcbasic/run.pyc
pcbasic/scancode.pyc
pcbasic/shell.pyc
pcbasic/sound.pyc
pcbasic/state.pyc
pcbasic/statements.pyc
pcbasic/timedate.pyc
pcbasic/tokenise.pyc
pcbasic/typeface.pyc
pcbasic/unicodepage.pyc
pcbasic/util.pyc
pcbasic/var.pyc
pcbasic/vartypes.pyc
pcbasic/video.pyc
pcbasic/video_ansi.pyc
pcbasic/video_cli.pyc
pcbasic/video_curses.pyc
pcbasic/video_graphical.pyc
pcbasic/video_none.pyc
pcbasic/video_pygame.pyc
pcbasic/video_sdl2.pyc
serial_tests/SerialBrewer.pyc
